__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
*.egg
.installed.cfg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
coverage.xml
nosetests.xml
*.log
.mypy_cache/
.ruff_cache/
